.item-section {
    background-color: cadetblue;
    height: 100vh;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
h1 {
    background-color: cadetblue;
    font-family: cursive;
    font-size: 50px;
    margin: 0px;
    padding-top: 40px;
    margin-bottom: 0px;
}
#update-dirtbike {
    border: 2px solid black;
    border-radius: 3px;
    margin: auto;
    padding: 30px;
    background-color: tan;
    margin-top: 30px;
}
label {
    margin-right: 10px;
    font-size:larger;
    margin-bottom: 20px;
    font-weight: bolder;
}
div {
    margin: auto;
}
.true-false {
    margin-bottom: 10px;
}
.true, .false {
    margin-left: 20px;
}
.true {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
}
.false {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-field {
    margin-bottom: 10px;
}
.tire-field {
    margin-bottom: 10px;
}
div #submit-button {
    display: flex;
    justify-content: center;
}
#select {
    margin-left: 15px;
}
#button {
    color: white;
    background-color: #083D77;
}